@charset "utf-8";

/* reset */
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, a, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, .conts_bot, header, hgroup, menu, nav, section, time, mark, audio, video {margin:0;padding:0;border:0;outline:0;font-size:100%;font-family:inherit;vertical-align:baseline;background:transparent;}
html {font-size:100.1%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;overflow-y:scroll;}
*+ html img {-ms-interpolation-mode:bicubic;}
* html html {filter:expression(document.execCommand("BackgroundImageCache", false, true));}
body {line-height:1;color:black;background:white;}
h1, h2, h3, h4, h5, h6{font-weight:normal;}
ol, ul {list-style:none;}
table {border-collapse:separate;border-spacing:0;}
th, td {text-align:left;font-weight:normal;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after, q:before, q:after {content:'';content:none;}
article, aside, details, footer, figcaption, figure, header, hgroup, menu, nav, section, summary {display:block;}
audio, video, canvas {display:inline-block;*display:inline;*zoom:1;}
audio:not([controls]), [hidden] {display:none;height:0;}
caption, hr {display:none;}
a{text-decoration:none;}
a:focus {outline:thin dotted;}
a:hover, a:active {outline:0;}
label, input[type=button], input[type=submit], button {cursor:pointer;}
button, input, select, textarea {margin:0;}
input, button {width:auto;overflow:visible;}
input, select, img {vertical-align:middle;}
textarea {overflow:auto;resize:none;}
em {font-style:normal;}
pre {white-space:pre;white-space:pre-wrap;white-space:pre-line;word-wrap:break-word;}
pre, code, kbd, samp {font-family:monospace, sans-serif;}
sub, sup {font-size:75%;line-height:0;position:relative;}
sup {top:-0.5em;}
sub {bottom:-0.25em;}
ins {background-color:#ff9;color:#000;text-decoration:none;}
mark {background-color:#ff9;color:#000;font-style:italic;font-weight:bold;}
del {text-decoration:line-through;}
abbr[title], dfn[title] {border-bottom:1px dotted;cursor:help;}
i,address{font-style:normal;font-weight:normal;}
a,img{border:0;}
.test{border:1px solid red;}
.hidden{width:0;height:0;font-size:0;line-height:0;position:absolute;left:-9999px;top:-9999px;}
