@charset "UTF-8";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin:0; padding:0; border:0; font-size:100%; font:inherit; vertical-align:baseline;}
html {font-family:sans-serif; -webkit-text-size-adjust:100%; text-size-adjust:100%;}
body {line-height:1;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block;}
ol, ul {list-style:none;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after, q:before, q:after {content:'';}
table {border-collapse:collapse; border-spacing:0;}
button, html input[type='button'], input[type='reset'], input[type='submit'] {overflow:visible; -webkit-appearance:button; cursor:pointer;}
button::-moz-focus-inner, input::-moz-focus-inner {padding:0; border:0;}
input[type='number']::-webkit-inner-spin-button, input[type='number']::-webkit-outer-spin-button {height:auto;}
input[type='search'] {-webkit-appearance:textfield; box-sizing:content-box;}
input[type='search']::-webkit-search-cancel-button, input[type='search']::-webkit-search-decoration {-webkit-appearance:none;}


/* base */
html {font-size:62.5%; font-family:'Noto Sans', sans-serif;}
body {line-height:1.3; color:#666; word-break:break-all;}
input, button, select, textarea {margin:0; padding:0; border:0; font-size:1em; color:inherit; vertical-align:middle; background-color:transparent;}
caption, legend {display:none;}
em, address, i {font-style:normal;}
img {max-width:100%; vertical-align:middle; -webkit-user-select:none;}
a {color:inherit; text-decoration:none;}
strong {font-weight:700;}
a, button, input, img {-webkit-tap-highlight-color:rgba(0,0,0,0); -webkit-tap-highlight-color:transparent; -webkit-touch-callout:none; outline:none;}


/* 현황판 상세 */
.item h3 {display:none;}
.tab-list:after {display:block; content:""; clear:both;}
.tab-list {position:fixed; bottom:5px; left:5px; margin-top:10px; z-index:10;}
.tab-list a {display:block; float:left; padding:5px 15px; margin-left:5px; border:1px solid  #c9c9c9; text-align:center; background:#eee;}
.tab-list a:hover {border:1px solid black; background:#c9c9c9; color:#E41B23;}
#content textarea {width:calc(100% - 16px) !important; overflow-y:scroll;}
.bos-btn {display:inline-block; position:fixed; bottom:15px; right:190px; z-index:10; width:60px; padding:5px 10px; border-radius:5px; font:13.3333px Arial; text-align:center; color:black; vertical-align: middle; background:#ccc;}
.bos-btn:hover {color:black; text-decoration:none;}
